<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogFile="log.txt" internalLogLevel="Off"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="layoutPath" value="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${mdlc:Name}|${message}" />
  <variable name="dateFormat" value="${date:format=yyyy-MM-dd}"/>

  <targets async="true">

    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${var:layoutPath}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="traceFile" xsi:type="File"
      layout="${var:layoutPath}"
      fileName="${basedir}/logs/Trace_${var:dateFormat}.log"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      archiveAboveSize="104857600"
      archiveFileName="${basedir}/logs/Archive/Trace_${var:dateFormat}.zip"
      enableArchiveFileCompression="true"
      keepFileOpen="true"
      openFileCacheTimeout="30"
      cleanupFileName="false"
      autoFlush="false" />

    <target name="debugFile" xsi:type="File"
      layout="${var:layoutPath}"
      fileName="${basedir}/logs/Debug_${var:dateFormat}.log"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      archiveAboveSize="104857600"
      archiveFileName="${basedir}/logs/Archive/Debug_${var:dateFormat}.zip"
      enableArchiveFileCompression="true"
      keepFileOpen="true"
      openFileCacheTimeout="30"
      cleanupFileName="false"
      autoFlush="false" />

    <target name="infoFile" xsi:type="File"
      layout="${var:layoutPath}"
      fileName="${basedir}/logs/Info_${var:dateFormat}.log"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      archiveAboveSize="104857600"
      archiveFileName="${basedir}/logs/Archive/Info_${var:dateFormat}.zip"
      enableArchiveFileCompression="true"
      keepFileOpen="true"
      openFileCacheTimeout="30"
      cleanupFileName="false"
      autoFlush="false" />

    <target name="warnFile" xsi:type="File"
      layout="${var:layoutPath}"
      fileName="${basedir}/logs/Warn_${var:dateFormat}.log"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      archiveAboveSize="104857600"
      archiveFileName="${basedir}/logs/Archive/Warn_${var:dateFormat}.zip"
      enableArchiveFileCompression="true"
      keepFileOpen="true"
      openFileCacheTimeout="30"
      cleanupFileName="false"
      autoFlush="false" />

    <target name="errorFile" xsi:type="File"
      layout="${var:layoutPath}"
      fileName="${basedir}/logs/Error_${var:dateFormat}.log"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      archiveAboveSize="104857600"
      archiveFileName="${basedir}/logs/Archive/Error_${var:dateFormat}.zip"
      enableArchiveFileCompression="true"
      keepFileOpen="true"
      openFileCacheTimeout="30"
      cleanupFileName="false"
      autoFlush="false" />

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile" />
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warnFile" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorFile" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugFile" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="traceFile" />
  </rules>
</nlog>