@{
    ViewData["Title"] = "Home Page";
          Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="~/js/Order/Order.js?Date=123"></script>

  <div class="container text-center p-4" id="divProductList">
    
      </div>
      
 